<header>
  <div class="tittle-bar">
    <div class="tittle">
      <a href = "/">Zaiko Kanri</a>
    </div>
  </div>

  <div class="navigation-bar">
    <div class="menu">
      
    </div>
  </div>
</header>