<div class="wrapper">
  <div class="stocks">
    <div class="stock-list-header">
      <div class="header-name">
        <h1>日用品リスト</h1>
      </div>
      <div class="create-list">
        <a href="/">リストに追加する</a>
      </div>
    </div>

    <div class="stock-list">
      <div class='stock-item-contents'>
        <ul class='stock-item-lists'>
          <li class='stock-item-list'>
            <div class='stock-item-info'>
              <div class='stock-name-header'>
                <P>商品名</p>
              </div>
              <div class='stock-img-content-header'>
                <P>アイコン</p>
              </div>
              <div class='stock-quantity-header'>
                <P>個数</p>
              </div>
              <div class='stock-detail-header'>
                <P>保管場所</p>
              </div>
            </div>

            <hr class ="separate">

            <div class='stock-item-info'>
              <div class='stock-name'>
                <P>写真</p>
              </div>
              <div class='stock-img-content'>
                <%= image_tag "no_image.jpg", class: "stock-img" %>
              </div>
              <div class='stock-quantity'>
                <P>個数</p>
              </div>
              <div class='stock-detail'>
                <P>保管場所</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>