/* headerのCSS */

header {
  background-color: #FFFFFF;
  width: 100vw;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#FBAB7E, #F7CE68);
}

.tittle-bar {
  height: 72px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittle {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  text-align: center;
}

.sub-tittle {
  font-size: 15px;
}

.tittle:hover {
  color: rgba(255, 255, 255, .7);
}

.navigation-bar {
  width: 80%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.menu {
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
}

.menu h1 {
  font-weight: bold;
  color: rgb(77, 77, 77);
}

.menu-name a {
  color: #FFFFFF;
  font-weight: bold;
  position: relative;
}

.menu-name a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  display: block;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.4s ease;
}

.menu-name a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

ul {
  display: flex;
}

li {
  padding: 0 15px 0 15px;
}

.enclosure {
  padding: 10px 0;
  border: 3px double #FFFFFF;
  border-radius: 20px;
}

/* headerのCSS */

.wrapper {
  margin-top: 72px;
  display: flex;
}

/* purchase-listのCSS */

.purchase-list {
  background-color: #FFFFFF;
  width: 65%;
  height: 100vh;
}

.purchase-list-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name h1 {
  font-size: 25px;
  font-weight: bold;
  color: rgb(77, 77, 77);
  border-bottom: 3px double lightgray;
  display: inline;
}

.create-list a {
  font-size: 12px;
  font-weight: bold;
  border: 3px double lightblue;
  border-radius: 20px;
  padding: 14px;
  color: deepskyblue;
  margin-left: 20px;
}

.create-list a:hover {
  color: rgba(55, 200, 248, 0.8);
  border: 3px double rgba(173, 216, 230, 0.8);
}

.lists {
  height: calc(100vh - 100px);
  margin: 0 40px;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px lightgray;
  overflow:scroll;
}

/* purchase-listのCSS */

/* bulletin-boardのCSS */

.bulletin-board {
  /* background-color: #DDDDDD; */
  width: calc(100vw - 65%);
  padding: 20px 40px;
}

.bulletin-board-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-name {
  margin: 17px 0 24px;
}

.board-name h1{
  font-size: 25px;
  font-weight: bold;
  color: rgb(77, 77, 77);
  border-bottom: 3px double lightgray;
  display: inline;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,textarea {
  border: 1px solid darkgray;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 0px darkgray;
  margin: 10px 0;
  width: 350px;
}

input[type="submit"] {
  background-color: lightgray;
  width: 100px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 0;
  text-align: center;
}

input[type="submit"]:hover {
  color: rgb(100, 100, 100);
  background-color: rgba(211, 211, 211, 0.6);
}

/* bulletin-boardのCSS */

footer {
  text-align: center;
  background-color: darkgray;
}