/* headerのCSS */

header {
  background-color: #FFFFFF;
  width: 100vw;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#FBAB7E, #F7CE68);
}

.tittle-bar {
  height: 72px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittle {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  text-align: center;
}

.sub-tittle {
  font-size: 15px;
}

.tittle:hover {
  color: rgba(255, 255, 255, .7);
}

.navigation-bar {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  width: 50%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.menu {
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
}

.menu h1 {
  font-weight: bold;
  color: rgb(49, 49, 49);
}

.menu-name a {
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
}

.menu-name a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  display: block;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.4s ease;
}

.menu-name a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

ul {
  display: flex;
}

li {
  padding: 0 15px 0 15px;
}

.enclosure {
  padding: 10px 0;
  border: 3px double #FFFFFF;
  border-radius: 20px;
}

.user-nav {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  width: 30%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.nav-btn {
  color: #fff;
  font-weight: bold;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  display: inline-block;
  height: 40px;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.nav-btn:hover {
  opacity: 0.8;
}

.user-groupname {
  color: rgb(49, 49, 49);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline-block;
  margin: 0px 20px;
  letter-spacing: 1px;
  text-align: center;
  transition-timing-function: linear;
  position: relative;
}

.user-groupname:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  display: block;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.4s ease;
}

.user-groupname:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.user-nav-list {
  display: flex;
  align-items: center;
}

/* headerのCSS */

.wrapper {
  margin-top: 72px;
  display: flex;
}

/* purchase-listのCSS */

.purchase-list {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color: #f5f5f5;
  width: 65%;
  height: 130vh;
}

.purchase-list-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name h1 {
  font-size: 25px;
  font-weight: bold;
  color: rgb(49, 49, 49);
  border-bottom: 3px double rgb(167, 167, 167);
  display: inline;
}

.create-list a {
  color: #fff;
  background-color: #38aef0;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  padding: 14px;
  margin-left: 20px;
  letter-spacing: 1px;
}

.create-list a:hover {
  background-color: rgba(56, 174, 240, 0.8);
}

.lists {
  background-color: #FFFFFF;
  height: calc(130vh - 100px);
  margin: 0 40px;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px lightgray;
  overflow:scroll;
}

.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 0;
}

.item-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists .list {
  padding: 1vw;
  margin: 0 1vw;
}

.item-img-content {
  position: relative;
}

.item-img {
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px lightgray;
  width: 15vw;
  height: 22vh;
}

.completed {
  position: absolute;
  top: 40%;
  width: 100%;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1vh 0;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.item-info {
  padding: 1vw;
}

.item-name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/* purchase-listのCSS */

/* bulletin-boardのCSS */

.bulletin-board {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color:#fff0e3;
  box-shadow: 0px 0px 2px 0px lightgray;
  width: calc(100vw - 65%);
  padding: 20px 40px;
  height: 130vh;
  border-radius: 4px;
  overflow: scroll;
}

.bulletin-board-header {
  height: 100px;
  padding: 0 40px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-name {
  margin: 17px 0 24px;
}

.board-name h1{
  font-size: 25px;
  font-weight: bold;
  color: rgb(49, 49, 49);
  display: inline;
}

.board-form {
  width: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memo-text {
  border: 1px solid rgb(100, 100, 100);
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px rgb(100, 100, 100);
  margin: 10px 0 0;
  padding: 0 5px;
  width: 100%;
}

#submit {
  background-color: lightgray;
  width: 30%;
  border: 1px solid rgba(0,0,0,.3);
  border-bottom: 4px solid rgba(0,0,0,.3);
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 0;
  text-align: center;
  transition: 0.1s;
  outline: 0;
}

#submit:active {
  transform: translateY(4px);
  border-bottom: none;
  border-bottom: 2px solid rgba(0,0,0,.3);
  cursor: pointer;
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memo {
  border: 1px solid;
  width: 75%;
  padding: 15px;
  margin: 5px 0 10px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px rgb(100, 100, 100);
  position: relative;
}

.memo-date {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 3px;
}

.memo-title {
  margin-bottom: 7px;
  border-bottom: 1px solid rgb(100, 100, 100);
  box-shadow: 0px 1px 0px 0px rgba(100, 100, 100, .2);
}

.memo span {
  margin-top: 3px;
  color: gray;
  position: absolute;
  width: 0;
  height: 0;
  right: -15px;
  top: 20px;
}

div[data-check="false"] span{
  display: none;
}

div[data-check="true"] span{
  display: block;
}

/* bulletin-boardのCSS */

footer {
  text-align: center;
  background-color: #f5f5f5;
  height: 100px;
  padding-top: 40px;
}